html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (max-height:750px){
  .twopart-box {
    padding: 0;
    margin: 0;
  }
}
.big-box {
  position: fixed;
  width: 100%;
  top:0;
}
.onepart {
  width: 100%;
  height: calc(176rem / 64);
  background-color: #d43d3d;
  display: inline-block;
}
.onepart-left {
  width: 100%;
  height: calc(176rem / 64);
  /* display: inline-block; */
  /* float: left; */
}
.onepart-left .xin {
  display: inline-block;
  background-image: url(../svg/feed_ic_message_normal@3x_f2ea949f.png);
  background-position: -4px 83px;
  width: calc(100rem / 64);
  height: calc(77rem / 64);
  background-size: 29px;
  margin-left: 30px;
  margin-top: 17px;
}
.onepart-left .sou {
  background-image: url(../svg/feed_ic_search_normal@3x_0f198e56.png);
  background-position: -4px 83px;
  width: calc(78rem / 64);
  height: calc(78rem /64);
  background-size: 29px;
  margin-right: 30px;
  margin-top: 17px;
  float: right;
}
.onepart-right{
  display: inline-block;
}
.onepart-right .today {
  background-image: url(../svg/wap_logo@3x_581de69e.png);
  background-position: 0px 82px;
  width: calc(340rem / 64);
  height: calc(80rem / 64);
  background-size: 84px;
  margin-left: 52px;
  margin-top: 17px;
  float: left;
}
.onepart-right .gen {
  background-image: url(../svg/titlebar_refresh_small@3x_96fb31e4.png);
  background-position: 1px 75px;
  width: 16px;
  height: 15px;
  background-size: 15px;
  margin-left: 4px;
  margin-top: 20px;
  float: right;
}

.twopart {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.twopart-box {
  width: 100%;
  height: calc(149rem / 64);
  background-color: #f0f0f0;
}
.twopart-box ul {
  width: 100%;
  height: calc(149rem / 64);
  padding: 0;
  margin: 0;

}
.twopart-box li {
  padding: 0px;
  margin-left: 12px;
  float: left;
  list-style-type: none;
  text-decoration: none;
  line-height: 45px;
}
.twopart-box a {
  text-decoration: none;
  color: #505050;
}
.twopart-box .jia {
  width: 15px;
  height: 15px;
  background-image: url(../font/font_fam3qcve7k/iconfont.svg);
  background-position: 15px 15px;
}
.threepart {
  width: 100%;
  /* height: 100%; */
  margin-top: calc(84rem / 64);

}
.threepart a {
  text-decoration: none;
}
.threepart-box {
  border-bottom: 1px solid #f8f8f8;
  /* border-top: 1px solid #f8f8f8; */
}
.threepart-box img {
  margin-top: calc(240rem / 64);
  width: 90%;
  margin-left: 17px;
}
.threepart-title span {
  font-size: 12px;
  color: #bbb;
}
.threepart-title span:first-child{
  margin-left: calc(67rem / 64);
}
.threepart-box i {
  display: inline-block;
  width: 74px;
  height: 87px;
  margin-top: 106px;
  background-image: url(../img/playicon_video@3x_dcf536ff.png);
  background-position: -104px -98px;
  position: absolute;
  margin-left: 119px;
  border-radius: 50%;
  background-size: 94px;
  /* background-color: rgba(0, 0, 0, 1.5); */
}


.footerpart {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255, 1.5);
}
.container {
  width: 100%;
}
.footerpart-box-left {
  display: inline-block;
  margin-top: 15px;
}
.footerpart-box-left i {
  display: inline-block;
  width: 43px;
  height: 29px;
  background-image: url(../svg/banner_toutiao_icon_bce0b302.png);
  background-position: 42px -2px;
  background-size: 39px;
  margin-left: 15px;
  margin-top: 5px;
}
.footerpart-box-left a {
  margin-left: 15px;
  text-decoration: none;
  padding-bottom: -53px;
  color: black;
}
.footerpart-box-right {
  width: 67px;
  height: 24px;
  background-color: red;
  float: right;
  text-align: center;
  border-radius: 40px;
  margin-right: 15px;
  color: #fff;
  padding: 3px;
  margin-top: 20px;
}